* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8lG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_JHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_wHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sarala/v12/uK_y4riEZv4o1w9RCg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sarala/v12/uK_x4riEZv4o1w9ptjI3Og.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8lG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_JHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_wHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sarala/v12/uK_y4riEZv4o1w9RCg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sarala/v12/uK_x4riEZv4o1w9ptjI3Og.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8lG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_JHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_wHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPecZTIAOhVxoMyOr9n_E7fRMQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffBzCKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffHjDKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffEDBKIw.ttf) format('truetype');
}
body button {
  cursor: pointer;
}
body .main-container .inner-main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
body .main-container .inner-main-container .header-container .header .header-img .header-pic {
  width: 100%;
}
body .main-container .inner-main-container .header-container .header-title {
  background-image: url(Images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
}
body .main-container .inner-main-container .header-container .header-title .title-contents {
  padding: 38px 0px 37px 100px;
}
@media screen and (max-width: 1366px) {
  body .main-container .inner-main-container .header-container .header-title .title-contents {
    padding: 38px 0px 37px 70px;
  }
}
body .main-container .inner-main-container .header-container .header-title .title-contents .title {
  font: bold 52px/76px 'Teko', sans-serif;
}
body .main-container .inner-main-container .header-container .header-title .title-contents .title-child {
  font: bold italic 28px/34px 'Titillium Web', sans-serif;
  color: #675A3D;
}
body .main-container .inner-main-container .header-container .header-title .warranty-div {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 101px;
  padding-top: 46px;
  padding-bottom: 56px;
}
@media screen and (max-width: 1366px) {
  body .main-container .inner-main-container .header-container .header-title .warranty-div {
    padding-left: 40px;
  }
}
body .main-container .inner-main-container .header-container .header-title .warranty-div .allProducts {
  color: #5F693B;
  font: 800 23px/21px 'Titillium Web', sans-serif;
}
body .main-container .inner-main-container .header-container .header-title .warranty-div span {
  font: bold 14px/23px 'Titillium Web', sans-serif;
  color: black;
}
body .main-container .inner-main-container .first-container .inner-first-container {
  padding: 0px 31px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container {
  display: flex;
  column-gap: 10px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .one .colors {
  width: 224px;
  height: 40px;
  margin-bottom: 235px;
  font: 600 20px 'Teko', sans-serif;
  background-color: #727D49;
  color: #FFFFFF;
  border: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  padding-left: 20px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv {
  background-image: url(Images/loadout\ bag.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 760px;
  height: 400px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .loadout {
  font: bold 90px/74px 'Teko', sans-serif;
  color: #FFFFFF;
  padding-left: 35px;
  padding-top: 35px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .loadout-content {
  font: 600 22px/27px 'Titillium Web', sans-serif;
  color: #FFFFFF;
  padding-left: 35px;
  padding-top: 20px;
  max-width: 304px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .shopBtn {
  height: 40px;
  width: 151px;
  background: #F16C00;
  color: #FFFFFF;
  font: 600 16px/39px 'Titillium Web', sans-serif;
  border: none;
  margin-top: 35px;
  margin-left: 35px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .two {
  background-image: url(Images/admin\ bag.png);
  background-position: center;
  background-size: cover;
  max-width: 608px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .two .loadSpan {
  font-size: 64px;
  line-height: 74px;
}
body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .two .second {
  max-width: 312px;
  padding-bottom: 20px;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container {
  margin-top: 10px;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids {
  display: flex;
  column-gap: 12px;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids {
  position: relative;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids .garment {
  width: 100%;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids .duffle {
  width: 100%;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids .assault {
  width: 100%;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids h2 {
  text-align: center;
  font: bold 50px/78px 'Teko', sans-serif;
  position: absolute;
  bottom: 10px;
  left: 97px;
}
body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids h4 {
  font: 600 16px/39px 'Titillium Web', sans-serif;
  text-align: center;
  color: #F16C00;
}
body .main-container .inner-main-container .category {
  padding-top: 35px;
}
body .main-container .inner-main-container .category .inner-category-container {
  background-image: url(Images/category\ container.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 675px;
}
body .main-container .inner-main-container .category .inner-category-container .center-btns {
  padding-top: 52px;
  display: flex;
  column-gap: 25px;
  justify-content: center;
}
body .main-container .inner-main-container .category .inner-category-container .center-btns .sellerBtn {
  width: 200px;
  height: 50px;
  background-color: black;
  color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  font: bold 20px/48px 'Sarala', sans-serif;
}
body .main-container .inner-main-container .category .inner-category-container .center-btns .arrivalBtn {
  font: bold 20px/48px 'Sarala', sans-serif;
  border: none;
}
body .main-container .inner-main-container .category .inner-category-container .line-div {
  position: relative;
}
body .main-container .inner-main-container .category .inner-category-container .line-div .line {
  padding: 0px 31px 0px 31px;
  position: absolute;
  bottom: -9px;
  width: 100%;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding-top: 27px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details {
  list-style: none;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv {
  width: 221px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .cardImg {
  height: 215px;
  width: 215px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 12px #00000047;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .cardImg .card-box {
  height: auto;
  max-width: 215px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .card-info {
  padding-top: 20px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .card-info .ratings span.material-symbols-outlined {
  color: #FFA600;
  font-size: 15px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .card-info .ratings .numberRating {
  font: 400 16px/20px 'Sarala', sans-serif;
  color: #989898;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .card-info .mystery {
  font: bold 20px/20px 'Sarala', sans-serif;
  color: #474747;
  padding-top: 5px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv .cards .card-info .price {
  font: bold 26px/30px 'Sarala', sans-serif;
  color: #F16C00;
  padding-top: 10px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .outer-seller-container .support-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 0px 30px 0px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .outer-seller-container .support-div .support-details {
  background-image: url(Images/solider.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 663px;
  height: 131px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .outer-seller-container .support-div .support-details .gearText {
  font: bold 28px/28px 'Sarala', sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 32px 0px 10px 146px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .outer-seller-container .support-div .support-details .expertText {
  font: 600 19px/17px 'Titillium Web', sans-serif;
  color: #FFFFFF;
  padding: 5px 0px 0px 200px;
}
body .main-container .inner-main-container .category .inner-category-container .best-seller-container .outer-seller-container .support-div .support-details .mobNum {
  font-weight: bold;
  color: #D0DD94;
}
body .main-container .inner-main-container .shop-container .shop-img {
  background-image: url(Images/shop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
}
body .main-container .inner-main-container .shop-container .shop-img .branch-title .shopUI {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
body .main-container .inner-main-container .shop-container .shop-img .branch-title .shopUI .branchName {
  font: bold 21px/21px 'Titillium Web', sans-serif;
  color: #675A3D;
  padding-right: 20px;
}
body .main-container .inner-main-container .shop-container .shop-img .branch-title .shopUI .branch-details {
  height: 140px;
  width: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 3px 12px #00000047;
}
body .main-container .inner-main-container .shop-container .shop-img .branch-title .shopUI .branch-details .branchDiv .branches .shop-info .brand {
  font: bold 16px/16px 'Titillium Web', sans-serif;
  color: black;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg {
  background-image: url(Images/law\ enforcement.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 380px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents {
  padding: 36px 0px 0px 0px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents {
  max-width: 617px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents .law {
  font: 600 70px/60px 'Teko', sans-serif;
  color: #FFFFFF;
  padding-left: 46px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents hr {
  margin-top: 10px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents .gearTitle {
  font: bold 38px/76px 'Titillium Web', sans-serif;
  color: #FFFFFF;
  letter-spacing: 5px;
  padding-left: 46px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .shopNowBtn {
  height: 54px;
  width: 162px;
  background: #F16C00;
  color: #FFFFFF;
  font: 600 20px/48px 'Titillium Web', sans-serif;
  border: none;
  margin-left: 46px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .ulLists {
  background: linear-gradient(90deg, #040065 0, #040065 34%, #151074 58%, #7f7be0 79%, #7f7be0 100%);
  height: 60px;
  margin-top: 22px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .ulLists .articleUL {
  display: flex;
  column-gap: 57px;
  align-items: center;
  padding-top: 20px;
  padding-left: 68px;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .ulLists .articleUL .articleLi {
  font: 600 19px/17px 'Titillium Web', sans-serif;
  color: #FFFFFF;
  list-style: square;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .ulLists .articleUL .articleLi::marker {
  color: #D0DD94;
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .allBags {
  position: relative;
  max-width: 873px;
}
@media screen and (max-width: 1366px) {
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .allBags {
    max-width: 760px;
  }
}
body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .allBags .all-bag-img {
  position: absolute;
  bottom: -79px;
  left: 564px;
  /* max-width: 867px; */
  width: 100%;
}
body .main-container .inner-main-container .shop-container .description-section .content-bio {
  text-align: center;
  padding: 75px 160px 56px 160px;
}
body .main-container .inner-main-container .shop-container .description-section .content-bio .description-contents {
  font: 400 italic 24px/32px 'Titillium Web', sans-serif;
}
body .main-container .inner-main-container .shop-container .description-section .content-bio .author {
  font: 500 14px/22px 'Titillium Web', sans-serif;
  padding-top: 10px;
}
body .main-container .footer-container .footer-div .footer-img {
  width: 100%;
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  body .main-container {
    overflow-x: hidden;
  }
  body .main-container .inner-main-container .header-container .header-title .title-contents {
    padding: 23px 0PX 20px 37px;
  }
  body .main-container .inner-main-container .header-container .header-title .title-contents .title {
    font: bold 40px/53px 'Teko', sans-serif;
  }
  body .main-container .inner-main-container .header-container .header-title .title-contents .title-child {
    font: bold italic 24px/34px 'Titillium Web', sans-serif;
  }
  body .main-container .inner-main-container .header-container .header-title .warranty-div {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  body .main-container .inner-main-container .header-container .header-title .warranty-div .tick {
    width: 38px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container {
    padding: 0px 20px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .one .colors {
    width: 100%;
    max-width: 157px;
    height: 27px;
    margin-bottom: 170px;
    font-size: 14px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv {
    width: 100%;
    height: 285px;
    max-width: 542px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .loadout {
    font: bold 64px/53px 'Teko', sans-serif;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 25px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .loadout-content {
    font: 600 16px/22px 'Titillium Web', sans-serif;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 10px;
    max-width: 222px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .second {
    padding-top: 20px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .parentDiv .shopBtn {
    height: 28px;
    width: 108px;
    background: #F16C00;
    color: #FFFFFF;
    font: 600 11px/27px 'Titillium Web', sans-serif;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .two {
    width: 434px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .inner-div-container .two .loadSpan {
    font-size: 42px;
    line-height: 55px;
  }
  body .main-container .inner-main-container .first-container .inner-first-container .outer-first-container .outer-div-container .grid-container .totalGrids .grids h2 {
    font-size: 35px;
    left: 63px;
  }
  body .main-container .inner-main-container .category .inner-category-container .center-btns .sellerBtn {
    border: none;
  }
  body .main-container .inner-main-container .category .inner-category-container .line-div .line {
    bottom: -7px;
  }
  body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .seller-details .cardDiv {
    width: 100%;
    max-width: 215px;
  }
  body .main-container .inner-main-container .category .inner-category-container .best-seller-container .seller-container .articles .laptop {
    display: none;
  }
  body .main-container .inner-main-container .shop-container .shop-img {
    position: relative;
  }
  body .main-container .inner-main-container .shop-container .shop-img .branch-title {
    margin-right: -71px;
  }
  body .main-container .inner-main-container .shop-container .shop-img .branch-title .shopUI .navy {
    display: none;
  }
  body .main-container .inner-main-container .shop-container .shop-img .branch-title .shopUI .space {
    display: none;
  }
  body .main-container .inner-main-container .shop-container .shop-img .forwardBtn {
    height: 58px;
    width: 36px;
    background: #E3E3E3;
    position: absolute;
    right: 0px;
    top: 54px;
    z-index: 1;
    padding-top: 11px;
    cursor: pointer;
  }
  body .main-container .inner-main-container .shop-container .shop-img .forwardBtn .material-symbols-outlined {
    font-size: 32px;
  }
  body .main-container .inner-main-container .shop-container .shop-img .branch-title::before {
    content: "";
    background: linear-gradient(90deg, rgba(226, 215, 192, 0) 0, #e2d7c0 100%) !important;
    height: 100%;
    width: 118px;
    right: 0;
    z-index: 1;
    position: absolute;
  }
  body .main-container .inner-main-container .shop-container .shop-img .branch-title::after {
    content: "";
    height: 47px;
    width: 118px;
    background-image: url(Images/n);
    z-index: 1;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg {
    height: 270px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents {
    max-width: 410px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents hr {
    width: 100%;
    max-width: 398px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents .law {
    font: 600 50px/40px 'Teko', sans-serif;
    color: #FFFFFF;
    padding-left: 35px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .container-contents .gearTitle {
    font: bold 26px/52px 'Titillium Web', sans-serif;
    color: #FFFFFF;
    letter-spacing: 3px;
    padding-left: 35px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .shopNowBtn {
    height: 38px;
    width: 115px;
    font: 600 13px/38px 'Titillium Web', sans-serif;
    border: none;
    margin-left: 35px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .ulLists .articleUL {
    column-gap: 36px;
    padding-left: 55px;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .ulLists .articleUL .articleLi {
    font: 600 13px/15px 'Titillium Web', sans-serif;
  }
  body .main-container .inner-main-container .shop-container .responders-containers .article .articleImg .article-contents .allBags .all-bag-img {
    position: absolute;
    bottom: -40px;
    left: 401px;
    /* max-width: 867px; */
    width: 615px;
  }
  body .main-container .inner-main-container .shop-container .description-section .content-bio .description-contents {
    font: 400 italic 20px/28px 'Titillium Web', sans-serif;
  }
}
