* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Teko:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarala:wght@400;700&family=Teko:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarala:wght@400;700&family=Teko:wght@400;500;600;700&family=Titillium+Web:wght@400;600;700;900&display=swap');



@sarala: 'Sarala', sans-serif;
@teko: 'Teko', sans-serif;
@titillium: 'Titillium Web', sans-serif;
@primary-font-color: black;
@secondary-color :#F16C00;
@tertiary-color: #FFFFFF;


body {

    button {
        cursor: pointer;
    }

    .main-container {
        .inner-main-container {

            width: 100%;
            max-width: 1440px;
            margin: 0 auto;

            .header-container {
                .header {
                    .header-img {
                        .header-pic {
                            width: 100%;
                        }

                        .header-mobile {
                            display: none;
                        }
                    }
                }

                .header-title {
                    background-image: url(./Images/Rectangle.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    display: flex;

                    .title-contents {
                        padding: 38px 0px 37px 100px;

                        @media screen and (max-width:1366px) {
                            padding: 38px 0px 37px 70px;

                        }

                        .title {
                            font: bold 52px/76px @teko;
                        }

                        .title-child {
                            font: bold italic 28px/34px @titillium;
                            color: #675A3D;
                        }

                    }

                    .warranty-div {
                        display: flex;
                        column-gap: 10px;
                        justify-content: center;
                        align-items: center;
                        padding-left: 101px;
                        padding-top: 46px;
                        padding-bottom: 56px;

                        @media screen and (max-width:1366px) {

                            padding-left: 40px;

                        }



                        .allProducts {
                            color: #5F693B;
                            font: 800 23px/21px @titillium;
                        }

                        .onAllProducts {
                            font: bold 14px/23px @titillium;
                            color: black;

                        }

                    }

                }
            }



            // first-container style

            .first-container {
                .inner-first-container {
                    padding: 0px 31px;

                    .inner-div-container {
                        display: flex;
                        column-gap: 10px;

                        .one {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .btnDiv {

                                .colors {
                                    width: 224px;
                                    height: 40px;
                                    margin-bottom: 235px;
                                    font: 600 20px @teko;
                                    background-color: #727D49;
                                    color: @tertiary-color;
                                    border: none;
                                    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
                                    padding-left: 20px;
                                }

                            }


                        }

                        .parentDiv {
                            background-image: url(./Images/loadout\ bag.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            width: 100%;
                            max-width: 760px;
                            height: 400px;

                            .inner-parentDiv {
                                .loadout {
                                    font: bold 90px/74px @teko;
                                    color: @tertiary-color;
                                    padding-left: 35px;
                                    padding-top: 35px;
                                }

                                .loadout-content {
                                    font: 600 22px/27px @titillium;
                                    color: @tertiary-color;
                                    padding-left: 35px;
                                    padding-top: 20px;
                                    max-width: 304px;
                                    padding-top: 10px;
                                }


                                .shopBtn {
                                    height: 40px;
                                    width: 151px;
                                    background: @secondary-color;
                                    color: @tertiary-color;
                                    font: 600 16px/39px @titillium;
                                    border: none;
                                    margin-top: 35px;
                                    margin-left: 35px;
                                }

                            }




                        }

                        .two {
                            background-image: url(./Images/admin\ bag.png);
                            background-position: center;
                            background-size: cover;
                            width: 100%;
                            max-width: 354px;
                            height: 233px;


                            .inner-parentDiv {
                                .loadout {
                                    font: bold 50px/42px 'Teko', sans-serif;
                                    padding-left: 15px;
                                    padding-top: 20px;
                                }

                                .loadSpan {
                                    font-size: 36px;
                                    line-height: 42px;
                                }

                                .second {
                                    max-width: 162px;
                                    padding-bottom: 15px;
                                    font-size: 14px;
                                    line-height: 16px;
                                    padding-left: 15px;

                                }

                            }

                        }


                    }

                    // outer-first-container

                    .outer-first-container {
                        margin-top: 10px;

                        .outer-div-container {
                            .grid-container {
                                .totalGrids {
                                    display: flex;
                                    column-gap: 12px;

                                    .grids {
                                        position: relative;

                                        .garment {
                                            width: 100%;
                                        }

                                        .duffle {
                                            width: 100%;
                                        }

                                        .assault {
                                            width: 100%;
                                        }

                                        h2 {
                                            text-align: center;
                                            font: bold 50px/78px @teko;
                                            position: absolute;
                                            bottom: 10px;
                                            left: 97px;

                                        }

                                        h4 {

                                            font: 600 16px/39px @titillium;
                                            text-align: center;
                                            color: @secondary-color;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


            // category container styles
            .category {
                padding-top: 35px;

                .inner-category-container {
                    background-image: url(./Images/category\ container.png);
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 675px;

                    .center-btns {
                        padding-top: 52px;
                        display: flex;
                        column-gap: 25px;
                        justify-content: center;

                        .sellerBtn {
                            width: 200px;
                            height: 50px;
                            background-color: @primary-font-color;
                            color: @tertiary-color;
                            border-radius: 6px 6px 0px 0px;
                            font: bold 20px/48px @sarala;
                        }

                        .arrivalBtn {
                            font: bold 20px/48px @sarala;
                            border: none;

                        }
                    }

                    .line-div {
                        position: relative;

                        .line {
                            padding: 0px 31px 0px 31px;
                            position: absolute;
                            bottom: -9px;
                            width: 100%;

                        }
                    }

                    .best-seller-container {
                        .seller-container {

                            // ul bags
                            .articles {
                                display: flex;
                                justify-content: center;
                                column-gap: 20px;
                                padding-top: 27px;

                                // li bags

                                .seller-details {
                                    list-style: none;


                                    .cardDiv {
                                        width: 221px;

                                        .cards {
                                            .cardImg {
                                                height: 215px;
                                                width: 215px;
                                                background: white;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                box-shadow: 0px 3px 12px #00000047;

                                                .card-box {
                                                    height: auto;
                                                    max-width: 215px;
                                                }

                                            }

                                            .card-info {
                                                padding-top: 20px;

                                                .ratings {
                                                    span.material-symbols-outlined {
                                                        color: #FFA600;
                                                        font-size: 15px;

                                                    }

                                                    .numberRating {
                                                        font: 400 16px/20px @sarala ;
                                                        color: #989898;
                                                    }
                                                }

                                                .mystery {
                                                    font: bold 20px/20px @sarala;
                                                    color: #474747;
                                                    padding-top: 5px;

                                                }

                                                .price {
                                                    font: bold 26px/30px @sarala;
                                                    color: @secondary-color;
                                                    padding-top: 10px;

                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }


                        // outer seller container
                        .outer-seller-container {
                            .support-div {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 38px 0px 30px 0px;

                                .support-details {
                                    background-image: url(./Images/solider.png);
                                    // background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    width: 100%;
                                    max-width: 663px;
                                    height: 131px;

                                    .gearText {
                                        font: bold 28px/28px @sarala;
                                        color: @tertiary-color;
                                        letter-spacing: 1px;
                                        padding: 32px 0px 10px 146px;
                                    }

                                    .expertText {
                                        font: 600 19px/17px @titillium;
                                        color: @tertiary-color;
                                        padding: 5px 0px 0px 200px;
                                    }

                                    .mobNum {
                                        font-weight: bold;
                                        color: #D0DD94;
                                    }
                                }
                            }
                        }
                    }

                }
            }

            // shop and branch container

            .shop-container {
                .shop-img {
                    background-image: url(./Images/shop.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 180px;

                    .branch-title {


                        .shopUI {
                            display: flex;
                            column-gap: 10px;
                            justify-content: center;
                            align-items: center;
                            padding-top: 20px;
                            // padding-left: 88px;

                            .branchName {
                                font: bold 21px/21px @titillium;
                                color: #675A3D;
                                padding-right: 20px;

                            }

                            .branch-details {
                                height: 140px;
                                width: 120px;
                                background: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                box-shadow: 0px 3px 12px #00000047;


                                .branchDiv {
                                    .branches {
                                        .shop-info {
                                            .brand {
                                                font: bold 16px/16px @titillium;
                                                color: @primary-font-color;
                                            }
                                        }
                                    }
                                }


                            }
                        }
                    }

                }

                // articles and responder container
                .responders-containers {
                    .article {
                        .articleImg {
                            background-image: url(./Images/law\ enforcement.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 380px;

                            .article-contents {
                                padding: 36px 0px 0px 0px;


                                .container-contents {
                                    max-width: 617px;

                                    .law {
                                        font: 600 70px/60px @teko;
                                        color: @tertiary-color;
                                        padding-left: 46px;

                                    }

                                    hr {
                                        margin-top: 10px;
                                    }

                                    .gearTitle {
                                        font: bold 38px/76px @titillium;
                                        color: @tertiary-color;
                                        letter-spacing: 5px;
                                        padding-left: 46px;

                                    }

                                }


                                .shopNowBtn {
                                    height: 54px;
                                    width: 162px;
                                    background: @secondary-color;
                                    color: @tertiary-color;
                                    font: 600 20px/48px @titillium;
                                    border: none;
                                    margin-left: 46px;
                                }




                                .ulLists {
                                    background: linear-gradient(90deg, #040065 0, #040065 34%, #151074 58%, #7f7be0 79%, #7f7be0 100%);
                                    height: 60px;
                                    margin-top: 22px;
                                    // width: 1440px;

                                    .articleUL {

                                        display: flex;
                                        column-gap: 57px;
                                        align-items: center;
                                        // justify-content: center;
                                        padding-top: 20px;
                                        padding-left: 68px;

                                        .articleLi {
                                            font: 600 19px/17px @titillium;
                                            color: @tertiary-color;
                                            list-style: square;

                                        }

                                        .articleLi::marker {
                                            color: #D0DD94;

                                        }

                                    }
                                }

                                // all bags positioning over responder container
                                .allBags {
                                    position: relative;
                                    max-width: 873px;

                                    @media screen and (max-width:1366px) {
                                        max-width: 760px;

                                    }


                                    .all-bag-img {
                                        position: absolute;
                                        bottom: -79px;
                                        left: 564px;
                                        /* max-width: 867px; */
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                // description sections styles

                .description-section {
                    .content-bio {
                        text-align: center;
                        padding: 75px 160px 56px 160px;

                        .description-contents {
                            font: 400 italic 24px/32px @titillium;
                        }

                        .author {
                            font: 500 14px/22px @titillium;
                            padding-top: 10px;

                        }
                    }
                }




            }

        }

        // footer container

        .footer-container {
            .footer-div {
                .footer-img {
                    width: 100%;
                }
            }
        }
    }

}


// media query for laptop screen

@media screen and (min-width:1024px) and (max-width:1365px) {


    body {


        .main-container {
            overflow-x: hidden;

            .inner-main-container {
                .header-container {
                    .header {
                        .header-img {
                            .header-mobile {
                                display: none;
                            }
                        }
                    }

                    .header-title {
                        .title-contents {
                            padding: 23px 0PX 20px 37px;

                            .title {
                                font: bold 40px/53px 'Teko', sans-serif;
                            }

                            .title-child {
                                font: bold italic 24px/34px 'Titillium Web', sans-serif
                            }
                        }

                        .warranty-div {
                            padding-top: 34px;
                            padding-bottom: 34px;


                            .tick {
                                width: 38px;
                            }
                        }

                    }



                }

                // first container style laptop
                .first-container {
                    .inner-first-container {
                        padding: 0px 20px;

                        .inner-div-container {
                            .one {

                                .btnDiv {
                                    .colors {
                                        width: 100%;
                                        max-width: 157px;
                                        height: 27px;
                                        margin-bottom: 170px;
                                        font-size: 14px;
                                    }
                                }

                            }

                            .parentDiv {
                                width: 100%;
                                height: 285px;
                                max-width: 542px;

                                .loadout {
                                    font: bold 64px/53px 'Teko', sans-serif;
                                    color: #FFFFFF;
                                    padding-left: 25px;
                                    padding-top: 25px;

                                }


                                .loadout-content {
                                    font: 600 16px/22px 'Titillium Web', sans-serif;
                                    color: #FFFFFF;
                                    padding-left: 25px;
                                    padding-top: 10px;
                                    max-width: 222px;
                                }

                                .second {
                                    padding-top: 20px;

                                }

                                .shopBtn {
                                    height: 28px;
                                    width: 108px;
                                    background: #F16C00;
                                    color: #FFFFFF;
                                    font: 600 11px/27px 'Titillium Web', sans-serif;
                                    border: none;
                                    margin-top: 20px;
                                    margin-left: 25px;
                                }
                            }

                            .two {
                                width: 434px;

                                .loadSpan {
                                    font-size: 42px;
                                    line-height: 55px;

                                }

                            }
                        }

                        // outer first container styles

                        .outer-first-container {
                            .outer-div-container {
                                .grid-container {
                                    .totalGrids {
                                        .grids {
                                            h2 {
                                                font-size: 35px;
                                                left: 63px;
                                            }
                                        }
                                    }
                                }
                            }
                        }


                    }
                }


                // laptop view category container
                .category {
                    .inner-category-container {

                        .center-btns {
                            .sellerBtn {
                                border: none;
                            }
                        }

                        .line-div {
                            .line {
                                bottom: -7px;

                            }
                        }

                        .best-seller-container {
                            .seller-container {
                                .articles {
                                    .seller-details {
                                        .cardDiv {
                                            width: 100%;
                                            max-width: 215px;
                                        }
                                    }

                                    .laptop {
                                        display: none;
                                    }

                                }
                            }
                        }
                    }
                }




                // styles for shop container
                .shop-container {
                    .shop-img {

                        position: relative;

                        .branch-title {
                            margin-right: -71px;

                            .shopUI {

                                .navy {
                                    display: none;
                                }

                                .space {
                                    display: none;
                                }
                            }



                        }

                        .forwardBtn {
                            height: 58px;
                            width: 36px;
                            background: #E3E3E3;
                            position: absolute;
                            right: 0px;
                            top: 54px;
                            z-index: 1;
                            padding-top: 11px;
                            cursor: pointer;

                            .material-symbols-outlined {
                                font-size: 32px;
                            }
                        }


                        .branch-title::before {
                            content: "";
                            background: linear-gradient(90deg, rgba(226, 215, 192, 0) 0, #e2d7c0 100%) !important;
                            height: 100%;
                            width: 118px;
                            right: 0;
                            z-index: 1;
                            position: absolute;
                        }

                        .branch-title::after {
                            content: "";
                            height: 47px;
                            width: 118px;
                            background-image: url(./Images/n);
                            z-index: 1;

                        }

                    }



                    // responders containers style
                    .responders-containers {
                        .article {
                            .articleImg {
                                height: 270px;

                                .article-contents {
                                    .container-contents {
                                        max-width: 410px;

                                        hr {
                                            width: 100%;
                                            max-width: 398px;
                                        }

                                        .law {
                                            font: 600 50px/40px 'Teko', sans-serif;
                                            color: #FFFFFF;
                                            padding-left: 35px;
                                        }

                                        .gearTitle {
                                            font: bold 26px/52px 'Titillium Web', sans-serif;
                                            color: #FFFFFF;
                                            letter-spacing: 3px;
                                            padding-left: 35px;
                                        }

                                    }


                                    .shopNowBtn {
                                        height: 38px;
                                        width: 115px;
                                        font: 600 13px/38px 'Titillium Web', sans-serif;
                                        border: none;
                                        margin-left: 35px;

                                    }




                                    .ulLists {
                                        .articleUL {
                                            column-gap: 36px;
                                            padding-left: 55px;

                                            .articleLi {
                                                font: 600 13px/15px 'Titillium Web', sans-serif;

                                            }
                                        }
                                    }

                                    .allBags {
                                        .all-bag-img {
                                            position: absolute;
                                            bottom: -40px;
                                            left: 401px;
                                            /* max-width: 867px; */
                                            width: 615px;
                                        }
                                    }

                                }

                            }

                        }

                    }


                    // styles for description container
                    .description-section {
                        .content-bio {
                            .description-contents {

                                font: 400 italic 20px/28px 'Titillium Web', sans-serif;

                            }
                        }
                    }


                }

            }

        }

    }

}


// media query for mobile screen

@media screen and (max-width:767px) {

    body {
        .main-container {
            .inner-main-container {
                .header-container {


                    .header {
                        .header-img {
                            .header-pic {
                                display: none;

                            }

                            .header-mobile {
                                display: block;
                                width: 100%;
                            }
                        }
                    }

                    .header-title {
                        display: block;

                        .title-contents {
                            padding: 37px 0px 37px 10px;

                            .title {
                                font-size: 36px;
                                line-height: 34px;
                            }

                            .title-child {
                                font: bold italic 18px/22px 'Titillium Web', sans-serif;
                                text-align: center;

                                padding: 10px 30px 0px 30px;
                            }
                        }

                        .warranty-div {
                            padding: 0px;
                            padding-bottom: 20px;

                            span {
                                font-size: 18px;
                                line-height: 17px;
                            }

                            .onAllProducts {
                                font: bold 11px/18px 'Titillium Web', sans-serif;
                            }

                        }
                    }
                }

                .first-container {
                    .inner-first-container {
                        padding: 0px 10px;

                        .inner-div-container {
                            flex-direction: column;
                            row-gap: 10px;

                            .one {
                                height: 187px;
                            }



                            .parentDiv {
                                display: block;
                                width: 100%;
                                max-width: 100%;


                                .inner-parentDiv {
                                    .loadout {
                                        font-size: 50px;
                                        line-height: 34px;
                                        padding-left: 15px;
                                        padding-top: 15px;
                                    }

                                    .loadout-content {
                                        font-size: 14px;
                                        line-height: 16px;
                                        padding-left: 17px;
                                        max-width: 162px;
                                    }

                                    .shopBtn {
                                        height: 26px;
                                        width: 99px;
                                        background: #F16C00;
                                        color: #FFFFFF;
                                        font: 600 11px/27px 'Titillium Web', sans-serif;
                                        border: none;
                                        margin-top: 16px;
                                        margin-left: 17px;
                                    }
                                }

                                .btnDiv {
                                    position: relative;

                                    .colors {
                                        font: 600 14px/52px @teko;
                                        margin-bottom: 0px;
                                        height: 27px;
                                        width: 100%;
                                        max-width: 157px;
                                        position: absolute;
                                        right: 0;
                                        bottom: 75px;
                                        display: flex;
                                        align-items: center;
                                    }
                                }



                            }

                            .two {
                                .inner-parentDiv {
                                    .shopBtn {
                                        height: 26px;
                                        width: 86px;
                                        background: #F16C00;
                                        color: #FFFFFF;
                                        font: 600 11px/27px 'Titillium Web', sans-serif;
                                        border: none;
                                        margin-top: 34px;
                                        margin-left: 17px;
                                    }
                                }

                            }
                        }


                        .outer-first-container {
                            .outer-div-container {
                                .grid-container {
                                    .totalGrids {
                                        flex-direction: column;
                                        row-gap: 10px;


                                        .grids {
                                            h2 {
                                                font-size: 35px;
                                                line-height: 48px;
                                                left: 72px;

                                            }

                                            h4 {
                                                font-size: 12px;
                                                line-height: 24px;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }

                }





                .category {
                    .inner-category-container {
                        height: auto;


                        .center-btns {
                            .sellerBtn {
                                border: none;
                                width: 150px;
                                height: 36px;
                                background-color: black;
                                color: #FFFFFF;
                                border-radius: 6px 6px 0px 0px;
                                font: bold 18px/35px 'Sarala', sans-serif;
                            }

                            .arrivalBtn {
                                font: bold 18px/35px 'Sarala', sans-serif;

                            }
                        }

                        .line-div {
                            .line {
                                display: none;
                            }

                            .line-mobile {
                                padding-left: 22px;
                                padding-bottom: 3px;
                            }
                        }

                        .best-seller-container {
                            .seller-container {
                                .articles {

                                    position: relative;

                                    .forward {
                                        height: 58px;
                                        width: 36px;
                                        background: #E3E3E3;
                                        left: 0px;
                                        top: 80px;
                                        z-index: 1;
                                        padding-top: 11px;
                                        cursor: pointer;
                                        position: absolute;
                                        cursor: pointer;

                                        .material-symbols-outlined {
                                            font-size: 32px;
                                        }
                                    }


                                    .seller-details {
                                        max-width: 165px;

                                        .cardDiv {
                                            max-width: 165px;

                                            .cards {
                                                .cardImg {
                                                    width: 100%;
                                                    max-width: 165px;
                                                    height: 160px;

                                                    .card-box {
                                                        height: auto;
                                                        max-width: 152px;
                                                    }
                                                }

                                                .card-info {

                                                    .ratings {

                                                        .material-symbols-outlined {

                                                            font-size: 12px;
                                                        }

                                                        .numberRating {
                                                            font-size: 11px;
                                                        }
                                                    }

                                                    .mystery {
                                                        font-size: 14px;
                                                        line-height: 14px;
                                                        max-width: 124px;
                                                    }

                                                    .price {
                                                        font-size: 19px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .forwardBtn {
                                        height: 58px;
                                        width: 36px;
                                        background: #E3E3E3;
                                        position: absolute;
                                        right: 0px;
                                        top: 80px;
                                        z-index: 1;
                                        padding-top: 11px;
                                        cursor: pointer;

                                        .material-symbols-outlined {
                                            font-size: 32px;
                                        }
                                    }

                                    .mobile {
                                        display: none;
                                    }
                                }
                            }

                            .outer-seller-container {
                                .support-div {
                                    .support-details {
                                        // background-position: center;
                                        background-size: cover;
                                        width: 100%;
                                        max-width: 375px;
                                        height: 131px;
                                        background-repeat: no-repeat;

                                        .details {
                                            .gearText {
                                                font: bold 19px/21px 'Sarala', sans-serif;
                                                color: #FFFFFF;
                                                /* letter-spacing: 1px; */
                                                padding: 32px 0px 10px 178px;

                                            }

                                            .expertText {
                                                font: 600 14px/17px 'Titillium Web', sans-serif;
                                                color: #FFFFFF;
                                                padding: 5px 0px 0px 178px;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }


                // shop container style

                .shop-container {
                    .shop-img {
                        height: 500px;


                        .branch-title {
                            .innerBranch {
                                .branchName {
                                    font: bold 21px/21px @titillium;
                                    color: #675A3D;
                                    text-align: center;
                                    padding-top: 20px;
                                }
                            }

                            .shopUI {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                max-width: 355px;
                                margin-left: 10px;
                                row-gap: 10px;

                                .branch-details {
                                    height: 120px;
                                    width: 112px;

                                    .branchDiv {
                                        .branches {
                                            .shop-info {
                                                .brand {
                                                    font-size: 14px;
                                                    line-height: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .forwardBtnTab {
                            display: none;
                        }

                    }


                    // responders container style

                    .responders-containers {
                        .article {
                            .articleImg {
                                background-image: url(./Images/mobile\ responder.png);
                                width: 100%;
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 588px;


                                .article-contents {

                                    .container-contents {

                                        .law {
                                            font: 600 54px/44px 'Teko', sans-serif;
                                            color: #FFFFFF;
                                            padding-left: 20px;
                                            max-width: 329px;
                                            width: 100%;
                                        }

                                        hr {
                                            width: 80%;

                                        }

                                        .gearTitle {
                                            font: bold 23px/52px 'Titillium Web', sans-serif;
                                            color: #FFFFFF;
                                            letter-spacing: 3px;
                                            padding-left: 20px;
                                        }
                                    }

                                    .shopDiv {

                                        position: relative;

                                        .shopNowBtn {
                                            height: 38px;
                                            width: 115px;
                                            background: #F16C00;
                                            color: #FFFFFF;
                                            font: 600 13px/32px 'Titillium Web', sans-serif;
                                            border: none;
                                            position: absolute;
                                            right: 21px;
                                            bottom: -69px;

                                        }
                                    }





                                    .ulLists {
                                        background: none;
                                        margin-top: 0px;

                                        .articleUL {
                                            display: flex;
                                            align-items: start;
                                            padding-top: 20px;
                                            padding-left: 40px;
                                            flex-direction: column;
                                            row-gap: 20px;

                                            .articleLi {
                                                font-size: 16px;
                                            }
                                        }
                                    }

                                    .allBags {
                                        .all-bag-img {
                                            display: none;
                                        }

                                        .mobile-bags {
                                            display: block;
                                            width: 100%;
                                            padding-top: 34px;
                                        }
                                    }
                                }
                            }
                        }
                    }


                    // description container styles

                    .description-section {
                        .content-bio {
                            text-align: center;
                            padding: 120px 20px 56px 20px;

                            .description-contents {
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                    }
                }



                // footer style

                .footer-container {
                    .footer-div {
                        .footer-img {
                            display: none;
                        }

                        .footer-mobile {
                            display: block;
                        }
                    }
                }

            }

        }

    }

}