* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Teko:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarala:wght@400;700&family=Teko:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarala:wght@400;700&family=Teko:wght@400;500;600;700&family=Titillium+Web:wght@400;600;700;900&display=swap');



@sarala: 'Sarala', sans-serif;
@teko: 'Teko', sans-serif;
@titillium: 'Titillium Web', sans-serif;
@primary-font-color: black;
@secondary-color :#F16C00;
@tertiary-color: #FFFFFF;


body {
    .main-container {
        .inner-main-container {

            width: 100%;
            max-width: 1440px;
            margin: 0 auto;

            .header-container {
                .header {
                    .header-img {
                        .header-pic {
                            width: 100%;
                        }
                    }
                }

                .header-title {
                    background-image: url(./Images/Rectangle.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    display: flex;

                    .title-contents {
                        padding: 38px 0px 37px 100px;

                        .title {
                            font: bold 52px/76px @teko;
                        }

                        .title-child {
                            font: bold italic 28px/34px @titillium;
                            color: #675A3D;
                        }

                    }

                    .warranty-div {
                        display: flex;
                        column-gap: 10px;
                        justify-content: center;
                        align-items: center;
                        padding-left: 101px;
                        padding-top: 46px;
                        padding-bottom: 56px;

                        .allProducts {
                            color: #5F693B;
                            font: 800 23px/21px @titillium;
                        }

                        span {
                            font: bold 14px/23px @titillium;
                            color: black;

                        }

                    }

                }
            }



            // first-container style

            .first-container {
                .inner-first-container {
                    padding: 0px 31px;

                    .inner-div-container {
                        display: flex;
                        column-gap: 10px;

                        .parentDiv {
                            background-image: url(./Images/loadout\ bag.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            width: 100%;
                            max-width: 760px;
                            height: 400px;


                            .loadout {
                                font: bold 90px/74px @teko;
                                color: @tertiary-color;
                                padding-left: 35px;
                                padding-top: 35px;
                            }

                            .loadout-content {
                                font: 600 22px/27px @titillium;
                                color: @tertiary-color;
                                padding-left: 35px;
                                padding-top: 20px;
                                max-width: 304px;
                            }


                            .shopBtn {
                                height: 40px;
                                width: 151px;
                                background: @secondary-color;
                                color: @tertiary-color;
                                font: 600 16px/39px @titillium;
                                border: none;
                                margin-top: 35px;
                                margin-left: 35px;
                            }

                        }

                        .two {
                            background-image: url(./Images/admin\ bag.png);
                            background-position: center;
                            background-size: cover;
                            max-width: 608px;


                            .loadSpan {
                                font-size: 64px;
                                line-height: 74px;
                            }

                            .second {
                                max-width: 312px;
                                padding-bottom: 20px;

                            }

                        }


                    }

                    // outer-first-container

                    .outer-first-container {
                        margin-top: 10px;

                        .outer-div-container {
                            .grid-container {
                                .totalGrids {
                                    display: flex;
                                    column-gap: 12px;

                                    .grids {
                                        position: relative;

                                        .garment {
                                            width: 100%;
                                        }

                                        .duffle {
                                            width: 100%;
                                        }

                                        .assault {
                                            width: 100%;
                                        }

                                        h2 {
                                            text-align: center;
                                            font: bold 50px/78px @teko;
                                            position: absolute;
                                            bottom: 10px;
                                            left: 97px;

                                        }

                                        h4 {

                                            font: 600 16px/39px @titillium;
                                            text-align: center;
                                            color: @secondary-color;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .category {
                padding-top: 35px;

                .inner-category-container {
                    background-image: url(./Images/category\ container.png);
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 675px;

                    .center-btns {
                        padding-top: 52px;
                        display: flex;
                        column-gap: 25px;
                        justify-content: center;

                        .sellerBtn {
                            width: 200px;
                            height: 50px;
                            background-color: @primary-font-color;
                            color: @tertiary-color;
                            border-radius: 6px 6px 0px 0px;
                            font: bold 20px/48px @sarala;
                        }

                        .arrivalBtn {
                            font: bold 20px/48px @sarala;
                            border: none;

                        }
                    }

                    .line-div {
                        position: relative;

                        .line {
                            padding: 0px 31px 0px 31px;
                            position: absolute;
                            bottom: -9px;

                        }
                    }

                    .best-seller-container {
                        .seller-container {
                            .articles {
                                display: flex;
                                justify-content: center;
                                column-gap: 20px;
                                padding-top: 27px;

                                .seller-details {
                                    list-style: none;

                                    .cardDiv {
                                        width: 221px;

                                        .cards {
                                            .cardImg {
                                                height: 215px;
                                                width: 215px;
                                                background: white;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                box-shadow: 0px 3px 12px #00000047;

                                                .card-box {
                                                    height: auto;
                                                    max-width: 215px;
                                                }

                                            }

                                            .card-info {
                                                padding-top: 20px;

                                                .ratings {
                                                    span.material-symbols-outlined {
                                                        color: #FFA600;
                                                        font-size: 15px;

                                                    }

                                                    .numberRating {
                                                        font: 400 16px/20px @sarala ;
                                                        color: #989898;
                                                    }
                                                }

                                                .mystery {
                                                    font: bold 20px/20px @sarala;
                                                    color: #474747;
                                                    padding-top: 5px;

                                                }

                                                .price {
                                                    font: bold 26px/30px @sarala;
                                                    color: @secondary-color;
                                                    padding-top: 10px;

                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .outer-seller-container {
                            .support-div {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 38px 0px 30px 0px;

                                .support-details {
                                    background-image: url(./Images/solider.png);
                                    background-position: center;
                                    background-size: cover;
                                    width: 100%;
                                    max-width: 663px;
                                    height: 131px;

                                    .gearText {
                                        font: bold 28px/28px @sarala;
                                        color: @tertiary-color;
                                        letter-spacing: 1px;
                                        padding: 32px 0px 10px 146px;
                                    }

                                    .expertText {
                                        font: 600 19px/17px @titillium;
                                        color: @tertiary-color;
                                        padding: 5px 0px 0px 200px;
                                    }

                                    .mobNum {
                                        font-weight: bold;
                                        color: #D0DD94;
                                    }
                                }
                            }
                        }
                    }

                }
            }


        }
    }

}